<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Holder_Ani_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 70}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 315}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 175}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 0}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 105}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 0}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 70}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 280}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 350}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 455}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 70}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 210}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 175}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 245}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 455}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 210}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 210}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 420}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 245}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 210}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 35}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 245}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 105}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 420}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 175}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 70}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 385}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 35}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_2_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 0}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {86, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 350}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 35}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 105}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 105}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 35}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 280}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 140}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 245}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 280}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 140}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {88, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 245}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {88, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 175}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {88, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 105}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {86, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 175}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {86, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 35}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {86, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 140}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{360, 0}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_3_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 385}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {88, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 140}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {86, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 210}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {86, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 280}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {86, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 315}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {86, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 70}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Holder_Ani_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 35}</string>
			<key>spriteSourceSize</key>
			<string>{90, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 140}, {90, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>StarHolderAnim</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>StarHolderAnim</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>