<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>star1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{30, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {18, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {14, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {22, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 0}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{30, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{120, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {22, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {14, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 30}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {16, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 60}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{30, 60}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{60, 60}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>StarAnim</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>StarAnim</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>